.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardsize {
  width: 25em;
  height: auto;
}
.imgcard {
  width: 25em;
  height: 26em;
  object-fit: cover;
  object-position: 100% 1%;
}
.imgtitle {
  height: 35vh;
  /*width: 100%;*/
  object-fit: cover;
  object-position: 100% 99%;
}
.imgcarousel {
  height: 80vh;
  /*width: 100%;*/
  object-fit: cover;
  object-position: 100% 1%;
}
.bg-mazo {
  background-image: url('./assets/imgbg.jpg');
  object-fit: cover;
  background-color: aqua;
}
.bg-semi {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), rgba(0, 60, 255, 0.671));
}
.icontitle {
  margin: 5px;
  font-size: xxx-large;
}